<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399575733533-ni0p4a23maruu953fqfht81oq2pd1pvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399575733533-ni0p4a23maruu953fqfht81oq2pd1pvj</string>
	<key>API_KEY</key>
	<string>AIzaSyDlCWoDInrzTLx0gbFkqRxFWzkF176zle4</string>
	<key>GCM_SENDER_ID</key>
	<string>399575733533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.namnpse.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-36073</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-36073.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399575733533:ios:ed96d3ab7fee2333f6bdf4</string>
</dict>
</plist>